<!doctype html>
<html>
    <head>
        <title>{{ the_title }}</title>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    </head>
    <body>

<h2>{{ the_title }}</h2>
<h3>Это страница админа</h3>

<p>Используйсте эту форму для ввода данных:</p>
<form action = '/viewlog'><p><input value='Посмотреть логи' type='SUBMIT'></p></form>
<form action = '/clear_logs'><p><input value='Очистить логи' type='SUBMIT'></p></form>
<form action = '/viewlog_accounts'><p><input value='Посмотреть список аккаунтов' type='SUBMIT'></p></form>
<form action = '/registrate'><p><input value='Зарегестрировать пользователя' type='SUBMIT'></p></form>
<form action = '/rm_passwd'><p><input value='Удалить пользователя' type='SUBMIT'></p></form>
<form action = '/chng_passwd'><p><input value='Изменить пароль пользователя' type='SUBMIT'></p></form>
<form action = '/logout'><p><input value='Выйти' type='SUBMIT'></p></form>
</body>
</html>
