{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>
<h4>Страница может зависнуть, это нормально!</h4>
<form method='POST' action= '{{ url }}'>
<table>
<p>Используйсте эту форму для ввода данных:</p>
     <div class="group">
        <input type="text" name = 'token' required>
        <span class="bar"> </span>
        <label>Токен</label>
     </div>
     <div class="group">
        <input type="text" name = 'page_id' required>
        <span class="bar"></span>
        <label>Айди того, чью дату надо узнать</label>
     </div>
<p><input value='Готово!' type='SUBMIT'></p>
  </form>

{% endblock %}
