{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>
<h4>Страница может зависнуть, это нормально!</h4>
<h3>Если на вашей странице нет никаких записей, программа вернет ошибку</h3>
<form method='POST' action='/start_clear_wall'>
<table>
<p>Используйсте эту форму для ввода данных:</p>
<tr><td>Введите id вашей страницы ВК:</td><td><input name='page_id' type='TEXT' width='60'></td></tr>
<tr><td>Введите ваш токен:</td><td><input name='token' type='TEXT'></td></tr>
</table>
<p>Когда будете готовы, нажмите на кнопку:</p>
<p><input value='Готово!' type='SUBMIT'></p>
<p></p>
</form>

{% endblock %}