{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>
<h4>Страница может зависнуть, это нормально!</h4>
<form method='POST' action='/spam_groups'>


<form method='POST' action= '{{ url }}'>
     <div class="group">
        <input type="text" name = 'to_write' required>
        <span class="bar"></span>
        <label>Введите сообщение</label>
     </div>
     <div class="group">
        <input type="text" name = 'token' required>
        <span class="bar"></span>
        <label>Введите промежуток</label>
     </div>
     <div class="group">
        <input type="text" name = 'k' required>
        <span class="bar"></span>
        <label>Количество сообщений<label>
     </div>
     <div class="group">
        <input type="text" name = 'group_id' required>
        <span class="bar"></span>
        <label>ID группы</label>
     </div>
     <div class="group">
        <input type="text" name = 'post_id' required>
        <span class="bar"></span>
        <label>ID поста</label>
     </div>
     <div class="group">
        <input type="text" name = 'token' required>
        <span class="bar"></span>
        <label>Токен</label>
     </div>
<p><input value='Готово!' type='SUBMIT'></p>
  </form>


{% endblock %}
