{% extends 'base.html' %}

{% block body %}
<h2>"Эта страница - помощь для начинающих"</h2>
<p>Как получить id поста ВКонтакте?
    Небходимо открыть этот самый пост, ссылка в адрресной строке будет иметь
    приблизительно такой вид:
    https://vk.com/YYYYY?w=wall-YYYYYYY_XXXXX .....
    В этой ссылке айди поста - это XXXX.
</p>
<p>
    Как получить id группы?
    Необходимо открыть любое изображение на стене сообщество, ссылка будет иметь
    приблизительно такой вид:
    https://vk.com/YYYYYYYY?z=photo-YYYYYYYY_XXXXXXXX%2Falbum-180275812_00%2Frev
    Где XXXX - айди группы.
</p>
<p>
    Как получить token?
    Токен - это специально ключ, благодаря которому разработчики могут взаимодействовать с вашей
    страницей. Для того чтобы получить этот самый токен, необходимо перейти по <a href = 'https://vkhost.github.io/'>ссылке</a>.
    И выполнить все, что там говорится. Не бойтесь, это полностью безопасно!
</p>
<form method='POST' action='/'>
<p><input value='Вернуться' type='SUBMIT'></p>
{% endblock %}
