{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>
<h4>Войти на сайт</h4>
<form method='POST' action= '/login_check'>
<table>
<p>Используйсте эту форму для ввода данных:</p>
<tr><td>Введите ваш логин:</td><td><input name='login' type='TEXT'></td></tr>
<tr><td>Введите ваш пароль:</td><td><input name='passwd' type='password'></td></tr>
</table>
<p>Когда будете готовы, нажмите на кнопку:</p>
<p><input value='Готово!' type='SUBMIT'></p>
<p></p>
</form>

{% endblock %}